__pycache__/authors.cpython-310.pyc
__pycache__/button.cpython-310.pyc
__pycache__/from_csv.cpython-310.pyc
__pycache__/game.cpython-310.pyc
__pycache__/globals.cpython-310.pyc
__pycache__/input.cpython-310.pyc
__pycache__/teams.cpython-310.pyc
